<!-- app/views/lists/_movies_list.html.erb -->
<div id="movies_list">
  <% if movies.any? %>
    <% movies.each do |movie| %>
      <p><%= movie.title %> - IMDb Rating: <%= movie.imdb_rating %></p>
    <% end %>
  <% else %>
    <p>No movies found.</p>
  <% end %>
</div>
