<h2 class="h1-title">Flux Fm Top 30 Songs of the Month</h2>

<%= form_with url: fluxfm_path, method: :get, local: false, remote: true do |form| %>
  <div class="flux-search">
    <%= form.date_field :date, class: "flux-date", min: "2022-01-01", max: Date.today, value: Date.today %>
    <%= form.submit "Search", class: "flux-save" %>
  </div>
<% end %>

<div>
  <%= render "shared/songs" %>
</div>
