<div class="container mt-4">
  <h2 class="mb-4">IMDB Watchlist Helper</h2>

  <div class="mb-4 addlist">
    <button class="mb-4 ">Import IMDb Watchlist</button>
    <%= render "shared/addlist_form" %>
  </div>

  <div class="mb-4">
    <h5>Search IMDb Watchlist</h5>
    <%= render "shared/filter_form" %>
  </div>

  <%# filter turbo stream file will execute this list %>
  <div id="movies_list" class="mt-4"></div>

</div>
