.iceman-logo{
  border-radius: 50%;
  object-fit: cover;
}

input::placeholder {
  color: #b8acac;
  opacity: 0.7;
  font-style: italic;
}
.addlist{
  display: inline-block;
}

body{
  color: rgb(233, 221, 221);
  background: #080716;
}

.add-watchlist{
  font-size: small;
  background: #215b6a;
  padding: 6px;
  border-radius: 15px;
  color: white;
  display: inline;
  cursor: pointer;

}

.delete-list{
  font-size: small;
  background: #8f0202;
  padding: 6px;
  border-radius: 15px;
  color: white;
  display: block;
}

.h1-title{
  background: #110f10;
  text-align: center;
  border-radius: 19px;
}

.search-list{
  text-align: center;
}
