.iceman-logo{
  border-radius: 50%;
  object-fit: cover;
}

input::placeholder {
  color: #b8acac;
  opacity: 0.7;
  font-style: italic;
}
.addlist{
  display: inline-block;
}

// .addlist-form {
//   display: none;}

// .addlist:hover .addlist-form {
//   display: block;
// }
