<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex">
    <div class="navitems">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "iceman.png", class: "iceman-logo" %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="navbar-right d-flex justify-content-around" >
        <div class= "login-bar">
          <%= link_to "", destroy_user_session_path, data: {turbo_method: :delete}, title: "Log out", class: "mx-2 dropdown-item fa-solid fa-right-from-bracket" %>
        </div>
      </div>
    <% else %>
      <div class="signin">
        <%= link_to "", new_user_session_path, title: "Log in",  class: " mx-2 dropdown-item fa-solid fa-right-to-bracket" %>
      </div>
    <% end %>
  </div>
</div>
