<h1>Projects</h1>

<div class="imdb-home">
  <%= link_to "IMDB Helper", imdb_path %>
</div>

<div class="fluxfm-home">
  <%= link_to "FluxFM top 30", fluxfm_path %>
</div>

<div class="nasa-home">
  <%= link_to "NASA Image Of The Day", nasa_path %>
</div>
