.green-button{
  font-size: small;
  background: #215b6a;
  padding: 6px;
  border-radius: 15px;
  color: white;
  display: inline;
  cursor: pointer;
}

.red-button{
  font-size: small;
  background: #8f0202;
  padding: 6px;
  border-radius: 15px;
  color: white;
  display: inline;
  cursor: pointer;
}
